<div *ngIf="hero" class="column">
  <div class="box-inline padded column">

    <h2>{{ hero.name }} details!</h2>

    <div>
      <label>
        <legend>id:</legend>
        <div>{{ hero.id }}</div>
      </label>
    </div>

    <div>
      <label>
        <legend>name:</legend>
        <input
          type="text"
          spellcheck="false"
          [(ngModel)]="hero.name"
          placeholder="name" />
      </label>
    </div>

    <div class="row">
      <button (click)="save()" class="confirm">Save</button>
      <button (click)="goBack()" class="cancel">Back</button>
    </div>

  </div>
</div>
