<div>

  <h2>My Heroes</h2>

  <section class="row">

    <ul class="heroes">
      <li *ngFor="let hero of heroes"
        class="box-inline hero"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
        <span class="badge">{{ hero.id }}</span>
        <span class="text">{{ hero.name }}</span>
      </li>
    </ul>

    <div *ngIf="selectedHero" class="box padded column">
      <h2>
        <strong>{{selectedHero.name}}</strong> is my hero
      </h2>
      <button (click)="gotoDetail()">View Details</button>
    </div>

  </section>

</div>
