section.row {
  align-items: flex-start;
}

.heroes {
  margin: 0 0 2em 0;
  width: 15rem;
  text-align: left;
}

.heroes .hero {
  position: relative;
  display: flex;
  cursor: pointer;
}

.heroes .hero:hover {
  left: .1em;
}

.heroes .hero:hover,
.heroes .hero.selected,
.heroes .badge {
  background-color: rgba(0, 204, 255, 0.3);
}

.heroes .text {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.heroes .badge {
  display: flex;
  align-items: center;
  font-size: small;
  color: white;
  padding: 1em;
  line-height: 1em;
  border-radius: 0;
}
