<div class="column">

  <h2>My Heroes</h2>

  <!-- Add a new hero -->
  <form class="padded column box-inline">
    <label>
      <legend>Hero name:</legend>
      <input
      type="text"
      spellcheck="false"
      placeholder="name"
      #heroName />
    </label>
    <button
      type="submit"
      (click)="add(heroName.value); heroName.value=''">
      Add
    </button>
  </form>

  <!-- List of heroes -->
  <section class="row">

    <ul class="heroes">
      <li *ngFor="let hero of heroes$ | async"
        class="box-inline hero row"
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">

        <span class="badge">{{ hero.id | truncate:5 }}</span>
        <span class="text">{{ hero.name }}</span>
        <button
          class="delete"
          (click)="delete(hero); $event.stopPropagation()">
          x
        </button>

      </li>
    </ul>

    <!-- Selected hero -->
    <div
      *ngIf="selectedHero"
      class="hero-detail"
      (click)="selectedHero = null">
      <div
        class="box padded column"
        (click)="$event.stopPropagation()">
        <h2>
          <strong>{{selectedHero.name}}</strong> is my hero
        </h2>
        <button (click)="gotoDetail()">View Details</button>
      </div>
    </div>

  </section>

</div>
