.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url('../assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15rem;
  text-align: left;
}

.heroes .hero {
  position: relative;
  display: flex;
  cursor: pointer;
}

.heroes .hero:hover {
  left: .1em;
}

.heroes .hero:hover,
.heroes .hero.selected,
.heroes .badge {
  background-color: rgba(0, 204, 255, 0.3);
}

.heroes .text {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.heroes .badge {
  display: flex;
  align-items: center;
  font-size: small;
  color: white;
  padding: 1rem;
  line-height: 1rem;
  border-radius: 0rem;
}
