/* You can add global styles to this file, and also import other style files */

/* normalize html and body */

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: white;
  font-size: 14px;
}

/* general element styles */

a {
  color: rgba(0, 204, 255, 0.8);
  text-decoration: none;
}

a:hover {
  color: rgba(0, 204, 255, 1);
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
}

a.active {
  border-top: 1px solid rgba(0, 204, 255, 0.8);
  border-bottom: 1px solid rgba(0, 204, 255, 0.8);
}

button {
  align-self: center;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  font-size: small;
  font-weight: bold;
  text-transform: uppercase;
}

button.cancel {
  background-color: rgba(255, 81, 81, 0.2);
}

button.confirm {
  background-color: rgba(157, 255, 58, 0.2);
}

button:hover {
  color: rgba(255, 255, 255, 1);
}

h1 {
  color: rgba(0, 204, 255, 0.6);
  font-size: 250%;
}

h2, h3 {
  color: rgba(255, 255, 255, 0.6);
}

input[type="text"] {
  box-shadow: inset 0px 0px 0px 1px rgba(238, 238, 238, 0.6);
  color: rgba(255, 255, 255, 0.9);
  font-weight: normal;
  outline: none;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input[type="text"]:focus {
  text-shadow: 0px 0px 2px rgba(0, 204, 255, 0.6);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 204, 255, 0.6);
}

legend {
  border: 0;
  color: white;
  font-size: small;
  margin: 0.5rem;
  text-align: left;
}

label {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* Custom classes */

.box,
.box-inline,
.box-button {
  box-shadow: inset 0px 0px 0px 1px rgba(238, 238, 238, 0.3);
  color: white;
}

.box,
.box-inline,
.box-button,
button,
input[type="text"] {
  background-color: rgba(206, 206, 206, 0.1);
  border-radius: 0.5rem;
  border: 0;
  display: flex;
  margin: 0.5rem;
  overflow: hidden;
}

.box-button:hover {
  background-color: rgba(0, 204, 255, 0.3);
  cursor: pointer;
}

.padded,
button,
input[type="text"] {
  padding: 0.5em;
}

.box-inline {
  align-self: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
