/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: white;
}

h1 {
  color: rgba(0, 204, 255, 0.6);
  font-size: 250%;
}

h2 {
  color: rgba(218, 218, 218, 0.6);
}

input[type="text"] {
  box-shadow: inset 0px 0px 0px 1px rgba(0, 204, 255, 0.6);
  color: rgba(0, 204, 255, 0.6);
  font-weight: normal;
  outline: none;
}

legend {
  border: 0;
  color: white;
  font-size: small;
  margin: 0.5rem;
  text-align: left;
}

label {
  font-weight: normal;
}

/* Custom classes */

.box {
  box-shadow: inset 0px 0px 0px 1px rgba(238, 238, 238, 0.3);
  color: white;
}

.box,
input[type="text"] {
  background-color: rgba(206, 206, 206, 0.1);
  border-radius: 0.5rem;
  border: 0;
  display: flex;
  margin: 0.5rem;
  overflow: hidden;
  padding: 0.5em;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
